body{
    font-family: "OpenSans";
    background: #d0d1d8;
    font-size: 22px;
}
header{
    width: 1440px;
    margin: 0 auto;
    background: #FFFFFF;
}
.section1{
    width: 1440px;
    margin: 0 auto;
    background: #FFFFFF;
}
.section2{
    width: 1440px;
    margin: 0 auto;
    background: #F4F5FF;
}
a{
    text-decoration: none;
    /* убирает подчёркивания */
}
header a{
    color:#FFFFFF;
    font-size: 22px;
    white-space: nowrap;
    /* запрет на переносы */
}

li{
    list-style-type: none;
    /* убирает маркера */
}
.container{
    width: 1236px;
    margin: 0 auto;
}

.tel{
    border: 2px solid #10133A;
    border-radius: 50px;
    padding: 25px;
    /* border-color: */
}
@font-face {
    font-family:"OpenSans";
    src: url('../fonts/OpenSans-Regular.ttf') format('truetype');
}
@font-face {
    font-family: "OpenSans";
    src: url('../fonts/OpenSans-Bold.ttf') format('truetype');
    font-weight: 700;
}
@font-face {
    font-family: "OpenSans";
    src: url('../fonts/OpenSans-SemiBold.ttf') format('truetype');
    font-weight: 600;
}


.text {
    font-family:"OpenSans";
}

.text-bold {
    font-family:"OpenSans";
    font-weight: 700;
}

.menu1{
    display: flex;
    padding-left: 0px;
    margin-top: 60px;
    margin-left: 26px;
}

.menu1 li{
    margin-right: 24px;
}

.but1 path::after {
    fill: #EF4621;
}
.but1 path:hover {
    fill: #EF4621;
}

.line{
    background: #10133A;
    height: 61px;
    margin-top: 35px;
}

.menu2{
    display: flex;
    font-family: "OpenSans";
    padding: 0;
    line-height: 61px;
    margin: 0 auto;
}

.menu2 li{
    margin-right: 264px;
}
.but2::after {
    opacity: 1;
    transition-delay: .2s;
}
.but2:hover {
    color: #EF4621;
}

.fleximg1{
    overflow:visible;
    position:relative;
    top: -20px;
}

.menu3{
    padding-left: 0px;
    padding-top: 114px;
    margin: 0px;
    margin-right: 100px;
}

.menu3 li{
    margin-bottom: 96px;
}

.menu3 li a{
    color: #363636;
    font-family:"OpenSans";
    font-weight: 600;
}
.inter{
    padding-top: 100px;
    margin: 0 auto;
    width: 650px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.inter2{

    text-align: center;
    font-family:"OpenSans";
    font-weight: 700;
    font-size: 24px;
}
.tren{
    font-family:"OpenSans";
    font-weight: 700;
    font-size: 36px;
    margin-bottom: 10px;
}
.tren2{
    font-family:"OpenSans";
    font-size: 24px;
    width: 540px;
}
.d1{
    display: flex;
    flex-direction: column;
}
.girl3{
    height: 375px;
    
}
.precont1{
    padding-top: 90px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 35px;
}
.precont2{
    display: flex;
    justify-content: space-between;
}
.rungirl{
    height: 510px;
}
.d2{
    display: flex;
    flex-direction: column;
    padding-top: 55px;
    align-items: end;
}
.tren3{
    font-family:"OpenSans";
    font-size: 24px;
    width: 540px;
    text-align: right;
}